*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image{
    background: url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg) center/55% repeat-x #000;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading{
    font-size: 70px;
    color: #fff;
    line-height: 1;
}

.sub{
    font-size: 20px;
    background: #fff;
}